# Ignore R files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore macOS junk
.DS_Store

# Ignore hpc specific outputs
logs/
job.slurm

# Ignore certain datatypes
*.sif
*.html
*.pdf

# Exclude output directory
outputs/

# Exclude temporary hidden files
._*
