* annex.backend=MD5E
**/.git* annex.largefiles=nothing
CHANGELOG.md annex.largefiles=nothing
README.md annex.largefiles=nothing
.gitignore annex.largefiles=nothing
zoo-modeling.Rproj annex.largefiles=nothing
.Rprofile annex.largefiles=nothing
renv annex.largefiles=nothing
renv.lock annex.largefiles=nothing
Makefile annex.largefiles=nothing
